Repository inovintell/py-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-linter, python-autoflake, python-isort, python-tryceratops, python-docformatter, python-black, python-interrogate, python-flake, python-pytype, python-tests

.pre-commit-config.yaml:

---
fail_fast: true
exclude: docs/gen_ref_pages.py
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: Poetry Check
        entry: poetry check
        pass_filenames: false
        language: system
        stages:
          - commit
        always_run: true
      - id: poetry-lock
        name: Poetry Lock
        entry: poetry lock
        pass_filenames: false
        language: system
        stages:
          - commit
        always_run: true
      - id: yaml-linter
        name: YAML Linter
        entry: poetry run yamllint
        language: system
        stages:
          - commit
        types:
          - yaml
      - id: python-autoflake
        name: Python Autoflake Fixer
        entry: poetry run autoflake --recursive --in-place .
        language: system
        stages:
          - commit
        types:
          - python
      - id: python-isort
        name: Python Isort Fixer
        entry: poetry run isort .
        language: system
        stages:
          - commit
        types:
          - python
      - id: python-tryceratops
        name: Python Tryceratops Fixer
        entry: poetry run tryceratops --autofix .
        language: system
        stages:
          - commit
        types:
          - python
      - id: python-docformatter
        name: Python Docformatter Fixer
        entry: poetry run docformatter --recursive --in-place .
        language: system
        stages:
          - commit
        types:
          - python
      - id: python-black
        name: Python Black Fixer
        entry: poetry run black .
        language: system
        stages:
          - commit
        types:
          - python
      - id: python-interrogate
        name: Python Docstrings Coverage
        entry: poetry run interrogate -c pyproject.toml .
        pass_filenames: false
        language: system
        stages:
          - commit
        types:
          - python
      - id: python-flake
        name: Python Flake Linter
        entry: poetry run flakeheaven lint .
        language: system
        stages:
          - commit
        types:
          - python
      - id: python-pytype
        name: Python Static Type Checker
        entry: poetry run pytype .
        language: system
        stages:
          - commit
        types:
          - python
      - id: python-tests
        name: Python Tests
        entry: poetry run pytest -n auto --pretty --cov=tests
        language: system
        stages:
          - commit
        types:
          - python
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.3.0
    hooks:
      - id: commitlint
        name: Commit Linter
        additional_dependencies:
          - "@commitlint/config-conventional"
        stages:
          - commit-msg

fix: specify main group for tests as well
  .github/workflows/python-tests.yml
Due: yaml-linter

feat: fix reduced installation of tests dependencies (#165)
  .github/actions/setup-poetry/action.yml
  .github/workflows/python-tests.yml
  poetry.lock
Due: yaml-linter

fix: correct pytype version specification
  poetry.lock
  pyproject.toml
Due: none

fix: correct pytype version specification (#167)
  poetry.lock
  pyproject.toml
Due: none

fix: run only on the files which possibly changed
  .github/workflows/code-linter.yml
Due: yaml-linter

fix: use simpler caching key
  .github/actions/setup-poetry/action.yml
  .github/workflows/python-tests.yml
Due: yaml-linter

fix: make tests runtime verbose
  .pre-commit-config.yaml
Due: yaml-linter

fix: fix minor issues (#169)
  .github/actions/setup-poetry/action.yml
  .github/workflows/code-linter.yml
  .github/workflows/python-tests.yml
  .pre-commit-config.yaml
Due: yaml-linter

fix: run only on necessary files
  .pre-commit-config.yaml
Due: yaml-linter

fix: run only on necessary files (#171)
  .pre-commit-config.yaml
Due: yaml-linter

fix: do not fail fast
  .github/workflows/python-tests.yml
Due: yaml-linter

fix: do not fail fast (#173)
  .github/workflows/python-tests.yml
Due: yaml-linter

fix: run coverage over src
  .github/actions/python-test/action.yml
Due: yaml-linter

fix: run coverage over src (#175)
  .github/actions/python-test/action.yml
Due: yaml-linter

feat: use coverage in local pipeline & fix ruff version
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: yaml-linter

feat: do not test Python 3.8
  .github/workflows/python-tests.yml
Due: yaml-linter

feat: unify lowest supported version (#213)
  .github/workflows/python-tests.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: yaml-linter

fix: remove redundant noqa
  poetry.lock
  src/{{cookiecutter.repository}}/__init__.py
Due: python-autoflake, python-isort, python-tryceratops, python-docformatter, python-black, python-interrogate, python-flake, python-pytype, python-tests

fix: remove redundant noqa (#217)
  poetry.lock
  src/{{cookiecutter.repository}}/__init__.py
Due: python-autoflake, python-isort, python-tryceratops, python-docformatter, python-black, python-interrogate, python-flake, python-pytype, python-tests

fix: update 'format' keyword to 'output-format' in pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

fix: update 'format' keyword to 'output-format' in pyproject.toml (#628)
  poetry.lock
  pyproject.toml
Due: none

feat: add licensing info
  LICENSE.md
Due: none
